.img-sim{
  background-color: blueviolet;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
}
.min-h{
  height: 100px !important;
}
*{
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: rgb(243, 240, 232);
}
body::-webkit-scrollbar {
  display: none;
}
.b-gen{
  border: 1px solid rgb(128, 57, 0);
  border-radius: 5px;
  background-color: rgb(238, 230, 210);
}
.fondo_opaco_tarjetas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}
.centrado_tarjetas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;


  display: flex;
  justify-content: center;
  align-items: center;
}
.mw-fra{
  max-width: 1000px;
  max-height: 95vh;
  width: 95vw;
  overflow-y: auto;
}.mw-fra::-webkit-scrollbar {
  display: none;
}
.mw-reglog{
  max-width: 350px;
  max-height: 95vh;
  width: 95vw;
  overflow-y: auto;
}.mw-reglog::-webkit-scrollbar {
  display: none;
}
/*Para cuando esta en ingresar reporte*/
.mw-car-animales{
  position: fixed;
  max-width: 90vw;
  max-height: 95vh;
  width: 100%;
  height: 100%;
}
.mw-car-animales-interno{
  max-height: 92%;
  overflow-y: auto;
}
/*para cuando esta revisando los resultados de las coincidencias*/
.mw-car-reportes{
  align-self: center;
  justify-self: center;
  max-width: 90vw;
  max-height: 95vh;
  width: 100%;
  height: 100%;
}
.mw-car-reportes-interno{
  display: flex;
  max-height: 92%;
  overflow-x: auto;
}

p{margin-bottom: 0;}
.b-sep-t{border-top: 1px solid rgb(251, 134, 255);}

.w-e{
  width: 100%;
}
.map-gg{
  width: 100%;
  height: auto;
}
.w-bg{
  background-image: url(../public/img/wood.jpg);
  background-repeat: repeat;
}
.cc-st{
  width: 35px;
  height: 35px;
}
.t-a-c{text-align: center;}

button{
  padding: 6px 10px 6px 10px;
  color: rgb(211, 84, 0);
  background-color: transparent;
  border: 1px solid rgb(211, 84, 0);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
button:hover{
  color: rgb(241, 235, 221);
  background-color: rgb(211, 84, 0);
  border: 1px solid rgb(211, 84, 0);
  border-radius: 3px;
}
p,h1,h2,h3,h4, strong{
  color: rgb(75, 34, 0);
}
.link-gen{
  color: rgb(211, 84, 0);
}
.link-gen:hover{
  color: rgb(134, 54, 0);
}

.m_t_style{
  border-top: 8px solid rgb(255, 255, 255);
  background-color: rgb(238, 230, 210);
  border-bottom: 8px solid rgb(223, 206, 164);
}
.btn-red{
  color: rgb(179, 0, 0);
  border-color: rgb(179, 0, 0);
}
.btn-red:hover{
  background-color: rgb(179, 0, 0);
  border-color: rgb(179, 0, 0);
}
.z-pos-bottom{
  z-index: -50;
}

.mw-fra{
  max-width: 600px;
  max-height: 90vh;
  width: 90vw;
  overflow-y: auto;
}.mw-fra::-webkit-scrollbar {
  display: none;
}
.positive{
  color: rgb(0, 116, 39);
}
.maybe{
  color: rgb(160, 0, 209);
}

.card-mSize{
  justify-self: center;
  max-width: 1000px;
  width: 100%;
}